body{
  background-color:#C75678;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #F3C7D4;
  height: 4vw;    
  }
.logo{
  width: 2vm;
  
  
  }


.flex-items:nth-child(1) {
  display: block;
  direction: rtl;
  align-items:flex-end;
  }

.box {
  display: flex;
  width:300px;
  direction: ltr; /*left to right direction*/
  justify-content:space-between; /*end of flex eg. rightend*/
  margin-right: 10px;
}
 

/*grid formating*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 15px 15px;
  height: 1500px;
  grid-template-areas:
    "web_image web_image web_image"
    "personal_info personal_link personal_link"
    "personal_info about_me education_skill"
    "fac projects hobbies_interest";
}
.web_image {
   grid-area: web_image; 
   
}

.web_image>img {
  object-fit:contain;
  width: 100%
}


.personal_info { 
  grid-area: personal_info; 
  font-size: 12px;;
  line-height: 0.7;
  font-family: 'Spectral', serif;
 
  
  
}

.me{
  border-radius:50%;
  width: 200px;
  height:200px;
  object-fit: cover;
}

.personal_link { grid-area: personal_link; }


.about_me { grid-area: about_me; }
.education_skill { grid-area: education_skill; }
.projects { grid-area: projects; }
.hobbies_interest { grid-area: hobbies_interest; }
.fac { grid-area: fac; }